.save-table-settings {
cursor: pointer;
float: right;
position: relative;
}

.table-settings-labels-header {
font-weight:bold;
}

.save-settings-wrapper .save-table-img-wrapper {
float:right;
}

.save-settings-wrapper .labels-wrapper {
position:absolute;
display:none;
border:solid 1px #000;
background-color:#fff;
padding:5px;
padding-left:15px;
margin-left:-200px;
}

.save-settings-wrapper .custom-labels {
width:200px;
}

.save-settings-wrapper .create-new-label .link {
cursor:pointer;
}

.save-table-settings-wrapper {
float:right;
}

.save-settings-wrapper .labels-wrapper .bt-content {
border:solid 1px #000;
background-color:#fff;
}

.save-settings-wrapper .label-row-wrapper{
margin-top:2px;
position:relative;
clear:both;
height:17px;
vertical-align: middle;
}

.save-settings-wrapper .label-row {
cursor:pointer;
position:relative;
float:left;
vertical-align: middle;
cursor:pointer;
}

.save-settings-wrapper .label-row-wrapper .arrow {
float:left;
width:14px;
background-color: #fff;
margin-right:2px;
height: inherit;
cursor:pointer;
text-align: center;
}

.save-settings-wrapper .form-text{
width:170px;
}

.label-actions .status-active {
margin-left:10px;
}

.save-settings-wrapper .label-row .status-active {
margin-left:10px;
}

.save-settings-wrapper .label-row-wrapper .arrow-span {
display:none;
text-align: center;
} 

.save-settings-wrapper .labels-wrapper .hover {
background-color: #ccc;
}

.save-settings-wrapper .label-actions {
	background-color: #fff;
	border:1px solid #000;
	width:150px;
	padding:5px;
	position:relative;
	left:-165px;
	text-align:left;
}

.save-settings-wrapper .manage-columns {
	position:relative;
	top:20px;
}
