.views-exposed-form .select-filter-wrapper {
float:left;
}

.views-exposed-form .views-exposed-widgets {
float:left;
}

.views-exposed-form .views-exposed-widget {
float:none;

}

.views-exposed-form {
clear:both;
} 

.views-exposed-form .add-filter {
font-size:2em;
float:left;
cursor:pointer;
}

.views-exposed-form div.views-reset-button , .views-exposed-form div.views-submit-button{
float:left;
}
/*
.views-widget {
float:left;
}

.views-exposed-widget label{
display:none;
}*/

 