
.manage-cols-emblem {
  cursor: pointer;
  float: right;
  position: relative;
  display: none;
  clear: left;
}

html.js .manage-cols-emblem {
  display: block;
}

.manage-cols-tooltip .bt-content {
  background-color: #FFF;
  border: 1px solid #999;
}

.views-table-manager-settings {
  clear:both;
  background:#BFBFBF;
  border: solid 1px #8F8F8F;
  overflow:auto;
  float:right;
  width: 40px; /* For IE */
}